*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#carrito{
    
    width: 350px;
    height: auto;
    background-color: #96d2be;
    list-style: none;
    padding: 16px;
    color: #240e06;
    padding: 12px;
    margin:auto;
}
#producto{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:3px; 
    font-weight: bold; 
    

}


#total{
    background-color: #96d2be;
    color: blue;
    font-weight: bold;
    width: 350px;
    height: 20px;
    margin:auto;
    padding-bottom: 3rem;
    text-align: center;
}
.icon{
    display: flex;
    justify-content: center;  
    align-items: center; 
 
}
.icon-i{
  font-size: 42px; 
  color: darkred;
  font-weight: bold;
}

.cardContainer {
    max-height: auto;
    border-radius: 8px;
    margin: 10px;
    padding: 16px;
    text-align: center;
    width: 300px;
    display: inline-block; /* Para que se alineen en filas */
   }

.card-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.cardContainer{
    width: 250px;
    height: auto;
    background-color: whitesmoke;
    border: 1px solid #db894d;
    padding: 18px;
    margin: 12px;
    text-align: center;
    color: #240e06;
    }
    .cardContainer:hover{
        color: #f59118;
        transform: scale(1.03);
    }

h3{
    margin: 2rem;
}

body{
    background-color: #ffe1e1;
    color: #2b1403;
 }

h1 {
    font-size: 3.5rem;
    transition: all;
  }
  h1:hover {
    color: #f59118;
    transform: scale(1.2);
  }
  h2 {
      padding-bottom: 10px;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
  }
  h2:hover {
    color: #f59118;
  }
p{
    font-size: 24px;
    font-weight: bold;
    color: yellow;
}

.header {
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #240e06;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .header:hover {
    color: #f59118;
  }

  .img-logo {
      margin: 8px;
      border-radius: 50%;
      box-shadow: -6px 0px 10px #f59118;
    }

    .boton {
        background-color: #240e06;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
      }
    
      .boton:hover {
        background-color: #583c30;
          transform: scale(1.04);
          color: #f59118;
        }

        .registro {
          background-color: #240e06;
          color: white;
          border: none;
          padding: 10px 15px;
          cursor: pointer;
          border-radius: 5px;
        }
      
        .registro:hover {
          background-color: #583c30;
            transform: scale(1.04);
            color: #f59118;
          }
        .boton1 {        
            background-color:#96d2be;
            font-size: 14px;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
          }
    .formulario{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1rem;
        margin: 12px auto;
      }

      label {
        margin: 5px 0;
      }
      input,
      textarea {
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #240e06;
        border-radius: 5px;
        background-color: #ffe1e1;
      }

  img {
    margin: 8px;
    border-radius: 50%;
    box-shadow: -6px 0px 10px #f59118;
  }
  nav ul {
    opacity: none;
    font-size: 18px;
    display: flex;
    list-style: none;
  }
  nav ul li {
    padding: 0px 8px;
    margin: 0px 8px;
    font-weight: bold;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin: 0 15px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }
  nav a:hover{
    color: #f59118;
    transform: scale(1.05);
    
  }


/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .header{
      flex-direction: column;
      height:auto;
      gap: 1rem;
    }
  
    .navbar{
      flex-direction: column;
    }
    .section1 {
        flex-direction: column;
        align-items: center;
    }
    .producto {
        width: 80%; /* Take full width on smaller screens */
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
    form {
        width: 80%;
    }
    .datos{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .item{
      font-size: 16px;
      text-align: justify;
    }
  }
  
  @media (max-width: 350px) {
    h1 {
        font-size: 2rem;
    }
    h2, h3 {
        font-size: 1.2rem;
    }
    .header{
    flex-direction: column;
    height:auto;
    gap: .75rem;
    }
    .navbar{
      flex-direction: column;
    }
    p {
        font-size: 14px;
    }
    button {
        padding: 8px 10px;
    }
    .producto {
        width: 100%; 
    }
    .item{
      font-size: 14px;
      text-align: justify;
    }
  .datos{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
    input, textarea {
        font-size: 14px;
    }
  }